$waterColor: rgb(99,119,129,255);
$sandColor: #af9764;
$buttonColor: #95331c;

$backdropColor: #00000033;

// navigation
$navFontColor: white;
$navBackgroundColor: #691b9a;
$navButton: #95331c;
$navButtonHover: #888;


// pagination
$paginationActive: #b399d4;
$paginationHover: #888;


// buttons
$darkButtonColor: #95331c;
$bigButtonWidth: 3rem;
$bigButtonHeight: 1rem;

// fonts
$titleColor: #691b9a;



