@import "./colors.scss";

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
}

.close-sand {
    font-family: "Mrs_Sheppards" !important;
    float: right;
    padding-right: 7px !important;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    color: $sandColor;
    cursor: pointer;
}

/* scroll bar styles */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $sandColor; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $sandColor;
}

::-webkit-scrollbar-thumb:hover {
    background: $sandColor;
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.tab-content {
    margin-top: -2px !important;
}